.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.target {
  height: auto;
  max-width: 375px;
  background-color: #B0A695;
  padding: 0.5rem;
  border-radius: 8px;
}

.main-title {
  display: block;
  font-size: 1.2rem;
  border-bottom: 1px solid #fff;
}

/* Create New User Style */
.form-create {
  max-width: 330px;
  overflow: hidden;
}

.form-create>input[type="file"] {
  width: 300px;
}

.form-create>input {
  margin: .7rem 0;
}

.preview-image {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  object-fit: cover;
}

.footer-prev-create {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* User List Styles */

.user {
  width: 240px;
  display: flex;
  gap: .5rem;
  align-items: center;
  margin: 10px 5px;
}

.avatar-image {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info-container {
  display: flex;
  flex-direction: column;
}

.user-info-container>strong {
  font-size: 1.2rem;
  line-height: normal;
}

.user-info-container>p {
  font-size: 1rem;
  margin: 0;
  line-height: normal;
}

/* Search User */

.input-search {
  margin: 0.7rem 0;
}

.form-search-user {
  display: flex;
  justify-content: center;
}

.search-some-user-paragraph {
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 920px) {
  .app {
    flex-wrap: wrap;
  }
}